<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Directory listing for /detective_game/app/src/main/res/layout/</title>
</head>
<body>
<h1>Directory listing for /detective_game/app/src/main/res/layout/</h1>
<hr>
<ul>
<li><a href="activity_case_selection.xml">activity_case_selection.xml</a></li>
<li><a href="activity_evidence_board.xml">activity_evidence_board.xml</a></li>
<li><a href="activity_interrogation.xml">activity_interrogation.xml</a></li>
<li><a href="activity_main.xml">activity_main.xml</a></li>
<li><a href="activity_result.xml">activity_result.xml</a></li>
<li><a href="activity_splash.xml">activity_splash.xml</a></li>
<li><a href="item_case.xml">item_case.xml</a></li>
<li><a href="item_evidence.xml">item_evidence.xml</a></li>
<li><a href="item_suspect.xml">item_suspect.xml</a></li>
</ul>
<hr>
</body>
</html>
